body {
    background-color: black;
    max-width: 300px;
    margin: 0 auto;

}
div .city{
    max-width: fit-content;

}
.content{
    background-color: white;
}

header{
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;

}

.bottom {
    display: grid;
    grid-template-columns: repeat(3), 1fr;
}

footer {
    background-color: cornflowerblue;
    padding: 25px 50px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}